.sell__crops__main {
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
}
.your__crop__section {
  width: 95%;
  padding: 2.5%;
}
.listed__crops {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
  gap: 20px;
}
.crop__sell__card {
  width: 90%;
  max-width: 250px;
  min-width: 250px;
  padding: 5%;
  height: 350px;
  background: #f2f2f2;
  position: relative;
  margin: 20px;
}
.crop__quantity {
  font-size: 30px;
  color: #02c39a;
}
.editButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/*Add popup*/

/*Edit popup*/
.edit__crop__main,
.add__crop__main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.edit__crop__cont,
.add__crop__cont {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-height: 300px;
  background: #fff;
  padding: 20px;
  position: relative;
}
.input__box,
.button__primary {
  margin: 10px 0;
}
.close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 1110px) {
  .listed__crops {
    grid-template-columns: repeat(2, 1fr);
  }
  .crop__sell__card {
    margin: 0;
  }
}
@media screen and (max-width: 662px) {
  .listed__crops {
    grid-template-columns: repeat(1, 0fr);
  }
  .crop__quantity {
    display: flex;
  }
}
