@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex__flow__down {
  flex-direction: column;
}
.flex__space__between {
  justify-content: space-between;
}
.flex__left {
  align-items: flex-start;
}
.button__primary {
  background: #02c39a;
  border: none;
  border: 2px solid #02c39a;
  color: #f0f3bd;
  padding: 15px 25px;
  min-width: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button__primary:hover {
  background: #01aa86;
  border: 2px solid #01aa86;
}
.button__secondry {
  background: none;
  border: 2px solid #02c39a;
  color: #02c39a;
  padding: 15px 25px;
  min-width: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button__secondry:hover {
  border: 2px solid #01aa86;
  color: #01aa86;
}
